
    <div class="sidebar" >
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper" data-color= "blue">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    VR
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Track & Secure 
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/satellites.html">
                        <i class="tim-icons icon-atom"></i>
                        <p>Satellites</p>
                    </a>
                </li>
                <li class="{% if 'map' in segment %} active {% endif %}">
                    <a href="/ships.html">
                        <i class="tim-icons icon-basket-simple"></i>
                        <p>Ships</p>
                    </a>
                </li>
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="/planes.html">
                        <i class="tim-icons icon-spaceship"></i>
                        <p>Planes</p>
                    </a>
                </li>
                <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="/tables.html">
                        <i class="tim-icons icon-square-pin"></i>
                        <p>Tracking Data</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/user.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <!-- <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="/typography.html">
                        <i class="tim-icons icon-align-center"></i>
                        <p>Typography</p>
                    </a>
                </li> -->
                <li>
                    <a href="/support.html">
                        <i class="tim-icons icon-support-17"></i>
                        <p>Support</p>
                    </a>
                </li>
                <!-- <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
