{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Recently tracked Satellites</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      Description
                    </th>
                    <th class="text-center">
                      TrackIT
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Chandrayan 3
                    </td>
                    <td>
                      India
                    </td>
                    <td width = "800px">
                      Chandrayaan-3 is the third and most recent lunar exploration mission by the Indian Space Research Organisation. 
                      It consists of a lander and the Pragyan rover similar to Chandrayaan-2, but does not have an orbiter. 
                      Its propulsion module behaves like a communication relay satellite.
                    </td>
                    <td class="text-center" >
                      <a href="https://www.n2yo.com/?s=57320&live=1">
                        <i class="tim-icons icon-compass-05"> Track</i>
                    </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      SES 1
                    </td>
                    <td>
                      USA
                    </td>
                    <td width = "800px">
                      SES 1 is a communications satellite designed to replace two aging spacecraft serving North America.
                    </td>
                    <td class="text-center">
                      <a href="https://www.n2yo.com/?s=36516">
                        <i class="tim-icons icon-compass-05"> Track</i>
                    </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      NOAA 19
                    </td>
                    <td>
                      Multiple
                    </td>
                    <td width = "800px">
                      NOAA 19 is the fifth in a series of five Polar-orbiting Operational Environmental Satellites (POES) with advanced microwave sounding instruments that provide imaging and sounding capabilities.
                    </td>
                    <td class="text-center">
                      <a href="https://www.n2yo.com/?s=33591">
                        <i class="tim-icons icon-compass-05"> Track</i>
                    </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      GOES 13
                    </td>
                    <td>
                      USA
                    </td>
                    <td width = 800px>
                      GOES 13 is an American (NOAA) geostationary weather satellite that was launched by a Delta 4 rocket from Cape Canaveral at 22:11 UT on 24 May 2006.
                    </td>
                    <td class="text-center">
                      <a href="https://www.n2yo.com/?s=29155">
                        <i class="tim-icons icon-compass-05"> Track</i>
                    </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      SAUDISAT 1C
                    </td>
                    <td>
                      Saudi Arabia 
                    </td>
                    <td width = "800px">
                      SAUDISAT 1C (or SO-50, Saudi-OSCAR 50) carries several experiments, including a mode J FM amateur repeater experiment operating on 145.
                    </td>
                    <td class="text-center">
                      <a href="https://www.n2yo.com/?s=27607">
                        <i class="tim-icons icon-compass-05"> Track</i>
                    </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      KMS-4
                    </td>
                    <td>
                      North Korea
                    </td>
                    <td width = 800px>
                      KMS-4 (Kwangmyongsong-4 meaning Bright Star-4 or Lodestar-4 in Korean) is an earth observation satellite launched by North Korea on 7 February 2016.
                    </td>
                    <td class="text-center">
                      <a href="/icons.html">
                        <i class="tim-icons icon-align-center"> Decayed</i>
                    </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      TIANGONG 1
                    </td>
                    <td>
                      China
                    </td>
                    <td width = 800px>
                      TIANGONG 1 is the first Chinese space laboratory module launched on a critical test flight to demonstrate the vital docking technology required for a future space station.
                    </td>
                    <td class="text-center">
                      <a href="/icons.html">
                        <i class="tim-icons icon-align-center"> Decayed</i>
                    </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card  card-plain">
          <div class="card-header">
            <h4 class="card-title"> Recently Tracked Ships</h4>
            <p class="category"> Below are space fillers for now</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      Description
                    </th>
                    <th class="text-center">
                      Coordinates
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Oud-Turnhout
                    </td>
                    <td class="text-center">
                      $36,738
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-center">
                      $23,789
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-center">
                      $56,142
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-center">
                      $38,735
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-center">
                      $63,542
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-center">
                      $78,615
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Jon Porter
                    </td>
                    <td>
                      Portugal
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-center">
                      $98,615
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Recently tracked Airplanes</h4>
            <p class="category"> Below are space fillers for now</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      Description
                    </th>
                    <th class="text-center">
                      TrackIT
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Oud-Turnhout
                    </td>
                    <td class="text-center">
                      $36,738
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-center">
                      $23,789
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-center">
                      $56,142
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-center">
                      $38,735
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-center">
                      $63,542
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-center">
                      $78,615
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Jon Porter
                    </td>
                    <td>
                      Portugal
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-center">
                      $98,615
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
